.direction-container
{
    z-index: 1 /*!important*/;

    position: relative;

    margin: 30px;
    padding: 20px;

    height: auto;
    width: 500px;

    /* border-radius: 2em; */

    background-color: white;
    border-radius: 2vw;
}

.direction-text
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    line-height: 3.3rem;
}

.direction-button
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

    display: block;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    padding: 10px;

    border: none;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
}

.direction-button:hover
{
    background-color: gainsboro;
}

.direction-icon {
    margin: 1rem;
    font-size: 30px;
}

hr.line {
    border-top: 2px solid black; 
}