.historyPopup {
    height: 80vh;
    overflow-y: scroll;
    padding-left: 50px;
    padding-right: 50px;
}

.historyPopup h1 {
    margin-top: 40px;
}

.route-row {
    display: inline-block;
    border-bottom: 1.3px solid #e6e6e6;
    width:100%;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    min-height: 22px;
}

#first-route-row {
    border-top: 1.3px solid #e6e6e6;
}

.route-row:hover {
    background-color: #fcfafa;
}

.route-row div {
    display: inline-block;
}

.route-date {
    width: 200px;
}

.route-runtype {
    padding-right: 10px;
    width: 20px;
}

.route-name {
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.route-row svg {
    height: 15px;
}

.fa-heart:hover,.fa-eye:hover,.fa-angle-down:hover,.fa-angle-up:hover,.fa-trash-alt:hover {
    height: 20px;
    cursor: pointer;
}

.route-speed,.route-favorite,.route-expand,.route-navigate,.route-delete {
    float: right;
    padding-right: 15px;
}

.route-expanded-view {
    padding-top: 20px;
    width: 100%;
}

.route-expanded-header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.route-expanded-description {
    width: 100%;
}

.route-try-again {
    font-size: 15px;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 15px;
    padding-left: 0;
}

.delete-popup {
    text-align: center;
    padding: 25px;
}

.delete-popup .fa-times-circle {
    color: #f16362;
    height: 100px !important;
    width: 100px !important;
    padding-top: 20px;
    margin-bottom: -15px;
}

.delete-popup h1 {
    color: #6c6669;
    font-weight: 500;
    font-size: 30px;
}

.delete-popup h2 {
    color: #636363;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 10px;
}

.delete-confirm-button, .delete-cancel-button {
    background-color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 120px;
    height: 38px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

.delete-confirm-button {
    background-color: #f15f5e;
}

.delete-confirm-button:hover {
    cursor: pointer;
    background-color: #c24c4c;
}

.delete-cancel-button {
    background-color: #c1c1c1;
}

.delete-cancel-button:hover {
    cursor: pointer;
    background-color: #a5a5a5;
}