# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
*/node_modules

# testing
*/coverage

# production
*/build

#big data files
*/pickle_files
*.pkl

# misc
*.DS_Store
*.env
*npm-debug.log*
*__pycache__/
.gitignore~
.vscode/

